* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F1F1F;
}

.container {
    display: flex;

    .card {
        border-radius: 5px;
        background-color: #282828;
        height: 94vh;
        margin-right: 15px;
        margin-top: 30px;

    }

    .sidebar {
        width: 40px;
        margin-left: 20px;
        flex-direction: column;

        .img,
        i {
            position: absolute;
        }

        .img {
            margin-left: 10px;
        }

        i {
            margin-left: 13px;
            color: #306E54;
        }

        .logo {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            top: 50px;
        }

        .menu {
            top: 85px;
        }

        .profile-pic {
            width: 20px;
            height: 20px;
            bottom: 125px;
        }

        .settings {
            bottom: 90px;
        }

        .hint {
            bottom: 55px;
        }

        .help {
            bottom: 20px;
        }
    }

    .prompt {
        width: 48%;

        .prompt-header {
            margin-top: 20px;
            display: flex;
            margin-right: 20px;

            h3 {
                color: #FBFBFC;
                font-size: 16px;
                margin-left: 15px;
                flex-grow: 2;

            }

            i {
                color: #306E54;
                width: 20px;
                height: 20px;
            }

            .chart {
                margin-right: 20px;
            }

        }


        .prompt-chat-section {
            .prompter-message {
                margin-top: 30px;
                margin-left: 20px;
                display: flex;

                .prompter_image {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                }

                .prompt_section {

                    .prompter_name {
                        font-size: 14px;
                        color: #E3E3E3;
                    }

                    .prompter_text {

                        font-size: 14px;
                        color: #9B9B9C;
                    }

                }



            }
            .line{
                width: 3px;
                height: 20px;
                background: #FBFBFC;
                display: inline-block;
                margin-top: 170px;
            }

            #line-1{
                margin-left: 15px;
                
            }

            #line-2{
                float: right;
                margin-right: 15px;
            }

        }

        .devin_waiting{
            display: flex;
            position: fixed;
            bottom: 50px;
            margin-left: 30px;
            .devin_image{
                width: 30px;
                height: 30px;
                background-color: #306E54;
                border-radius: 50%;
                margin-right: 15px;
            }
            .devin_waiting_message{
                color: #6A6A6A;
                font-style: italic;
                font-size: 13px;
                padding-top: 10px;
            }
        }
    }

    .workspace {
        width: 48%;
        margin-right: 20px;
    }
}