* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1F1F1F;
}

.container {
  display: flex;
}
.container .card {
  border-radius: 5px;
  background-color: #282828;
  height: 94vh;
  margin-right: 15px;
  margin-top: 30px;
}
.container .sidebar {
  width: 40px;
  margin-left: 20px;
  flex-direction: column;
}
.container .sidebar .img,
.container .sidebar i {
  position: absolute;
}
.container .sidebar .img {
  margin-left: 10px;
}
.container .sidebar i {
  margin-left: 13px;
  color: #306E54;
}
.container .sidebar .logo {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 50px;
}
.container .sidebar .menu {
  top: 85px;
}
.container .sidebar .profile-pic {
  width: 20px;
  height: 20px;
  bottom: 125px;
}
.container .sidebar .settings {
  bottom: 90px;
}
.container .sidebar .hint {
  bottom: 55px;
}
.container .sidebar .help {
  bottom: 20px;
}
.container .prompt {
  width: 48%;
}
.container .prompt .prompt-header {
  margin-top: 20px;
  display: flex;
  margin-right: 20px;
}
.container .prompt .prompt-header h3 {
  color: #FBFBFC;
  font-size: 16px;
  margin-left: 15px;
  flex-grow: 2;
}
.container .prompt .prompt-header i {
  color: #306E54;
  width: 20px;
  height: 20px;
}
.container .prompt .prompt-header .chart {
  margin-right: 20px;
}
.container .prompt .prompt-chat-section .prompter-message {
  margin-top: 30px;
  margin-left: 20px;
  display: flex;
}
.container .prompt .prompt-chat-section .prompter-message .prompter_image {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}
.container .prompt .prompt-chat-section .prompter-message .prompt_section .prompter_name {
  font-size: 14px;
  color: #E3E3E3;
}
.container .prompt .prompt-chat-section .prompter-message .prompt_section .prompter_text {
  font-size: 14px;
  color: #9B9B9C;
}
.container .prompt .prompt-chat-section .line {
  width: 3px;
  height: 20px;
  background: #FBFBFC;
  display: inline-block;
  margin-top: 170px;
}
.container .prompt .prompt-chat-section #line-1 {
  margin-left: 15px;
}
.container .prompt .prompt-chat-section #line-2 {
  float: right;
  margin-right: 15px;
}
.container .prompt .devin_waiting {
  display: flex;
  position: fixed;
  bottom: 100px;
  margin-left: 30px;
}
.container .prompt .devin_waiting .devin_image {
  width: 20px;
  height: 20px;
  background-color: #306E54;
  border-radius: 50%;
  margin-right: 15px;
}
.container .prompt .devin_waiting .devin_waiting_message {
  color: #6A6A6A;
  font-style: italic;
  font-size: 13px;
  padding-top: 3px;
}
.container .prompt .write-prompt-section {
  position: fixed;
  bottom: 50px;
  margin-left: 30px;
  background-color: #333435;
  width: 43%;
  border-radius: 5px;
}
.container .prompt .write-prompt-section .prompt {
  border-style: none;
  background-color: #333435;
  width: 90%;
  padding: 7px 2px;
}
.container .prompt .write-prompt-section i {
  color: #808080;
}
.container .prompt .write-prompt-section .prompt:focus {
  outline: none;
}
.container .prompt .write-prompt-section .prompt::-moz-placeholder {
  color: #808080;
}
.container .prompt .write-prompt-section .prompt::placeholder {
  color: #808080;
}
.container .prompt .write-prompt-section .attach {
  margin-left: 10px;
}
.container .workspace {
  width: 48%;
  margin-right: 20px;
}/*# sourceMappingURL=style.css.map */